.app {
    padding: 2rem;

    .fadein {
        animation: fadein 1s;
        width: 100%;
        height: 100%;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
