.footer {
    p {
        text-align: center;
        font-size: 0.9rem;
        text-decoration: none;
        font-weight: 600;
        // color: rgb(74, 74, 74);
        color: var(--footer-text);
    }
}
