@import "../../../global.scss";

.title {
    display: flex;
    justify-content: center;

    h2 {
        padding: 0.3rem;
        width: 120px;
        color: $secondary-color;
        background-color: $primary-color;
        text-align: center;
    }
}
