@import "global.scss";

.light {
    --background-color: #{$secondary-color};
    --text-color: #{$tertiary-color};
    --card-color: #{$secondary-color};
    --card-link-background: #{$secondary-color};
    --card-link-text: #{$secondary-color};
    --subtitle-color: rgba(0, 0, 0, 0.6);
    --skills-color: rgba(0, 0, 0, 0.6);
    --skills-card-border: #{$secondary-color};
    --skills-card-background: #{$secondary-color};
    --stack-color: rgb(111, 111, 111);
    --link-background: #{$secondary-color};
    --link-hover-center: #{$secondary-color};
    --footer-text: rgb(74, 74, 74);
    --resume-nav-background: #{$secondary-color};
    --resume-nav-background-hover: #{$primary-color};
    --resume-nav-color-hover: #{$secondary-color};
    --drawer-toggle-color: rgba(0, 0, 0, 0.54);
    --sidedrawer-background: #{$secondary-color};
    --sidedrawer-text: rgba(0, 0, 0, 0.84);
    --sidedrawer-resume-background: #{$primary-color};
    --sidedrawer-resume-text: #{$secondary-color};
    --nav-background: #{$secondary-color};
}

.dark {
    --background-color: #121212;
    --text-color: #{$secondary-color};
    --card-color: #292828;
    --card-link-background: #{$tertiary-color};
    --card-link-text: #{$tertiary-color};
    --subtitle-color: #{$secondary-color};
    --skills-color: #{$secondary-color};
    --skills-card-border: #{$tertiary-color};
    --skills-card-background: #1f1e1e;
    --stack-color: #ffffff9f;
    --link-background: #{$tertiary-color};
    --link-hover-center: #{$tertiary-color};
    --footer-text: #{$secondary-color};
    --resume-nav-background: #{$tertiary-color};
    --resume-nav-background-hover: #{$tertiary-color};
    --resume-nav-color-hover: #{$primary-color};
    --drawer-toggle-color: #{$tertiary-color};
    --sidedrawer-background: #413f3f;
    --sidedrawer-text: #{$secondary-color};
    --sidedrawer-resume-background: #{$tertiary-color};
    --sidedrawer-resume-text: #{$primary-color};
    --nav-background: #dfad36;
}
