@import "../../pages/global.scss";

.tagButton {
    border: 1px solid var(--tag-button-border);
    padding: 0.5rem;
}

.selected {
    background-color: $primary-color;
}

.tagButton:hover {
    cursor: pointer;
}