.projects {
    margin-top: 2rem;

    @media screen and (min-width: 700px) {
        margin: 2rem auto 0 auto;
        max-width: 90%;

        .projectCards {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
        }
    }

    @media screen and (min-width: 1100px) {
        max-width: 80%;
    }
}